@import url("https://cdn.jsdelivr.net/npm/material-icons@0.7.2/iconfont/material-icons.min.css");

@font-face {
  font-family: "Poppins-Reguler";
  src: url('../assets/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: "Poppins-Bold";
  src: url('../assets/fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url('../assets/fonts/Poppins-ExtraBold.ttf');
}
@font-face {
  font-family: "Poppins-light";
  src: url('../assets/fonts/Poppins-Light.ttf.ttf');
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins-Reguler', sans-serif;
  background-image: url('../assets/images/bg-header.jpg');
  background-size: 100%;
  background-position: left calc(60px);
  background-repeat: no-repeat;
}

h1 {
  font-family: "Poppins-ExtraBold";
  font-size: 3.5rem !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
h2 {
  font-family: "Poppins-Bold";
  font-size: 1.5rem !important;
}
.v-center {
	margin-top: 5%;
}
nav.navbar .marquee {
  width: inherit; /* the plugin works for responsive layouts so width is not necessary */
  overflow: hidden;
}
.progress {
  margin: 0px !important;
  position: absolute;
}
.iconadd{
  display:inline-block ;
}
.iconremove{
  display:none !important;
}

li.active .collapsible-header .material-icons.iconadd{
  display: none;
}

li.active .collapsible-header .material-icons.iconremove{
  display: inline-block !important;
}
.collapsible-header {
    display: flex;
    justify-content: space-between;
}
.text-shadow {
  text-shadow: 0px 6px #666;
}

/*  fontSize: */
.xs   {font-size: 0.75rem}
.sm   {font-size: 0.875rem}
.base {font-size: 1rem}
.lg   {font-size: 1.125rem}
.xl   {font-size: 1.25rem}
.2xl  {font-size: 1.5rem}
.3xl  {font-size: 1.875rem}
.4xl  {font-size: 2.25rem}
.5xl  {font-size: 3rem}
.6xl  {font-size: 4rem}
.fs1  {font-size: 1vw}
.fs2  {font-size: 1.4vw}
.fs3  {font-size: 1.6vw}
.fs4  {font-size: 1.8vw}
.fs5  {font-size: 2vw}
.fs6  {font-size: 2.2vw}
.fs7  {font-size: 2.4vw}
.fs8  {font-size: 4.6vw; font-weight: bold;}